.shuku{
    background-color: green;
    color: white;
    margin-top: 10px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    padding-left: 12px;
    margin-left:10px ;
    padding-top: 6px;

}

.but{
    margin-top: 20px;
    margin-left: 10px;
}

.add{
    background-color: blue;
    color: white;
    border: none;
}

.adding{
    background-color: rgb(250, 17, 250);
    color: white;
    border: none;
}

.added{
    background-color: blueviolet;
    color: white;
    border: none;
}

.ads{
    background-color: red;
    color: white;
    border: none;
}

.number{
    margin-top: 20px;
}